automacao-matriculas-n8n.json
{
  "name": "automacao-matriculas-n8n",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first().json.body;\n\nconst nomeTratado = item.nome_completo\n  .toLowerCase()\n  .split(\" \")\n  .map(n => n.charAt(0).toUpperCase() + n.slice(1))\n  .join(\" \");\n\nconst telefoneTratado = item.telefone.replace(/\\D/g, \"\");\n\nconst [dia, mes, ano] = item.data_nascimento.split(\"/\");\nconst dataTratada = `${ano}-${mes}-${dia}`;\n\nreturn [\n{\njson: {\nnome: nomeTratado,\nemail: item.email,\ntelefone: telefoneTratado,\ndata_nascimento: dataTratada,\ncurso: item.curso\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "536cd2c8-b913-4a65-932b-fd79ef8546a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.curso }}",
                    "rightValue": "=Tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a88e816-1355-4e93-a2a6-6dac4c972faf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72e623c3-f967-4d01-8bb3-07798fbbab36",
                    "leftValue": "={{ $json.curso }}",
                    "rightValue": "Business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5f1c5e3f-901b-4949-b496-76dd9947117b",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.email }}",
        "subject": "Confirmação de matrícula",
        "message": "=Olá {{ $('Code in JavaScript').item.json.nome }}, sua matrícula no curso {{ $('Code in JavaScript').item.json.curso }} foi recebida com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -112
      ],
      "id": "b65c4465-fe94-4569-8af7-5be80fbdc5bf",
      "name": "Send a message",
      "webhookId": "c2c45ab8-1bb1-46b1-8abc-c53d401de7c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "H85N2bknyZr6b91j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "Confirmação de matrícula",
        "message": "=Olá {{ $json.nome }}, sua matrícula no curso {{ $('Code in JavaScript').item.json.curso }} foi recebida com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        304
      ],
      "id": "ceb88cfe-52e3-4cf8-ac22-8676ebd6c8f3",
      "name": "Send a message1",
      "webhookId": "b7f7604a-dff9-43c2-b65b-72dc5653c2fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "H85N2bknyZr6b91j",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculas_tech",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Code in JavaScript').item.json.nome }}",
            "email": "={{ $('Code in JavaScript').item.json.email }}",
            "telefone": "={{ $('Code in JavaScript').item.json.telefone }}",
            "data_nascimento": "={{ $('Code in JavaScript').item.json.data_nascimento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "data_nascimento",
              "displayName": "data_nascimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -112
      ],
      "id": "d0aad488-dd5a-4a5b-af75-d86dc474d0c4",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "Y0KJhKG9u6esObsA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "matriculas_biz",
          "mode": "list",
          "cachedResultName": "matriculas_biz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Code in JavaScript').item.json.nome }}",
            "email": "={{ $('Code in JavaScript').item.json.email }}",
            "telefone": "={{ $('Code in JavaScript').item.json.telefone }}",
            "data_nascimento": "={{ $('Code in JavaScript').item.json.data_nascimento }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_nascimento",
              "displayName": "data_nascimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        288
      ],
      "id": "c02ccb10-641f-4f8b-ac84-e784a9deba2e",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "Y0KJhKG9u6esObsA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM matriculas_biz\nWHERE email = '{{ $('Code in JavaScript').item.json.email }}' \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        112
      ],
      "id": "e162b2c5-5aab-4512-8b6c-7cca63689396",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Y0KJhKG9u6esObsA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e5942e9-20bb-4898-8064-b340219bcaf2",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "82de2a34-4067-461c-93d6-00466add98b0",
              "leftValue": "={{$json.id}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        112
      ],
      "id": "15b64893-18e7-44c5-9f07-cbe658800f06",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c9982d63-0ae4-46ed-8af9-223675288d62",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f8fca114-1151-42b9-a78f-10a9438a09e7",
      "name": "Webhook",
      "webhookId": "c9982d63-0ae4-46ed-8af9-223675288d62"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM matriculas_tech \nWHERE email = '{{ $('Code in JavaScript').item.json.email }}' \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -96
      ],
      "id": "eca86d57-7f2d-40c5-a8b4-f0871a8b43bd",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Y0KJhKG9u6esObsA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e5942e9-20bb-4898-8064-b340219bcaf2",
              "leftValue": "={{$json.id}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "45c54c1f-79f7-4e84-a167-51813cb57c32",
              "leftValue": "={{$json.id}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -96
      ],
      "id": "6cd324ad-6594-4ebe-bca0-48d9dfa9e1fe",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        -272
      ],
      "id": "b20c1c70-e228-4908-8dde-68e1c6ca8cb3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        96
      ],
      "id": "80d92f85-29dc-4514-aeb5-786a8f477123",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "377d59c6-a397-426f-b5d8-73d6bb1fe057",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "575c4df77f1726d54edc8ceceddf7b62e406c1245fbf108f37d93b7cf2b7bbf5"
  },
  "id": "9uxGTzT7z1jWj2VO",
  "tags": []
}